<div class="d-flex container justify-content-center mt-4">
    <h1>Games</h1>
</div>
<div class="container mb-4">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <input 
        type="text" 
        class="form-control form-control-lg" 
        placeholder="Search for a team (e.g. Vikings)..."
        (input)="onSearchChange($event)"
      >
      @if (filteredGames.length === 0) {
  <p class="text-center mt-3">No games found</p>
        }
    </div>
  </div>
</div>
<div class="container-fluid mt-4">
  @for (game of filteredGames; track game.id){

    <div class="row align-items-center text-center bg-light rounded shadow-sm py-3 mb-3">


      <div class="col-md-4 d-flex align-items-center justify-content-start">
        <img [src]="game.homeTeamLogo" alt="{{ game.homeTeam }}" style="width: 60px; height: 60px;" class="me-3">

        <div class="text-start">
          <h5 class="mb-0">{{ game.homeTeam }}</h5>
          <h4 class="fw-bold mb-0">
            {{ game.isCompleted ? game.homeScore : '-' }}
          </h4>
        </div>
      </div>

      <div class="col-md-4 text-center">
        <p class="mb-1 fw-semibold">
          Week {{ game.week }}
        </p>

        <p class="mb-2 text-muted">
          {{ game.gameDate }}
        </p>

        <a class="btn btn-primary btn-sm"
           [routerLink]="['/games', game.id]">
          Game Details
        </a>
      </div>

      <!-- ✈️ AWAY TEAM (RIGHT) -->
      <div class="col-md-4 d-flex align-items-center justify-content-end">
        <div class="text-end me-3">
          <h5 class="mb-0">{{ game.awayTeam }}</h5>
          <h4 class="fw-bold mb-0">
            {{ game.isCompleted ? game.awayScore : '-' }}
          </h4>
        </div>

        <img [src]="game.awayTeamLogo" alt="{{ game.awayTeam }}" style="width: 60px; height: 60px;">
      </div>

    </div>

  }
</div>
