<div class="d-flex container justify-content-center mt-4">
    <h1>NFL Teams</h1>
</div>
<div class="d-flex justify-content-center gap-4 mb-4 mt-4">
    <button class="btn btn-primary btn-xl" routerLink="/teams/conference/nfc">NFC</button>
    <button class="btn btn-dark btn-xl" routerLink="/teams">All Teams</button>
    <button class="btn btn-danger btn-xl" routerLink="/teams/conference/afc">AFC</button>
  </div>
<h2 class="text-center text-white mt-3">
  @if (!conference) {
    All Teams
  } @else if (conference === 'afc') {
    AFC Teams
  } @else {
    NFC Teams
  }
</h2>
<div class="container mt-4">
  <div class="row">
    @for (team of filteredTeams; track team.name) {
      <div class="col-md-4 col-lg-3 mb-4">

        <div class="card h-100 text-center">
          <img [src]="team.logo" class="card-img-top p-3" alt="{{ team.name }}">

          <div class="card-body">
            <h5 class="card-title">{{ team.name }}</h5>
            <p class="card-text">{{ team.division }}</p>

            <a class="btn btn-primary"
               [routerLink]="['/teams', team.name.toLowerCase().split(' ').join('-')]">
              View Team
            </a>
          </div>
        </div>

      </div>
    }

  </div>
</div>